$primary-color: #eee;


// Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
body{
	background-color: $primary-color;
}